<div class="create-registers-wrapper">
  <h2>Create new register</h2>
  <form class="form-wrapper">
    <label>
      <b>Name:</b>
      <input type="text" placeholder="Name" required>
    </label>
    <label>
      <b>Email:</b>
      <input type="email" placeholder="account@mail.com" required>
    </label>
    <label>
      <b>Value N:</b>
      <input type="number" value="0" required>
    </label>
    <label>
      <b>Value M:</b>
      <input type="text" value="0" required>
    </label>
    <button>CREATE</button>
  </form>
</div>