.create-registers-wrapper {
  display: grid;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
}

.create-registers-wrapper h2 {
  text-align: center;
}

.form-wrapper {
  display: grid;
  gap: 20px;
}

.form-wrapper label {
  display: grid;
  gap: 5px;
}

.form-wrapper b {
  margin: 0;
}

.form-wrapper input {
  width: 275px;
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid #f1f2f3;
}

.form-wrapper input:focus {
  border-bottom: 1px solid #7e5bef;
}

.form-wrapper button {
  height: 40px;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background: #7e5bef;
  cursor: pointer;
}